html, body {
    font-family: sans-serif;
    background-color: aquamarine;
  /*  background: url('file:///assets/images/fundo.png'); */
    color: #9FEAF9;
}

fieldset {
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0.16);
    width: 950px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -475px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: rgb(0, 110, 2);
    flex-direction: column;
}
