html,
body {
    background-color: #0ac511;
}

.painel_principal {
    width: 1050px;
    height: 562px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}

.painel_esquerdo {
    width: 41%;
    height: 100%;
    padding: 25px 25px;
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}

.painel_direito {
    background-image: url('../../assets/images/fundo.png');
    color: #fff;
    width: 59%;
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.campos {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
}

.campos-adicionar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 380px;
    margin: auto;
    align-items: center;
    margin-top: 100px;
    vertical-align: middle
}

.h3 {
    display: inline;
    text-align: center;
    margin-bottom: 40px;
}

.h6-senha-codigo {
    display: inline;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.field-input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.app-button {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 55px;
    background: #0ac511;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}

.app-button-menu {
    width: 170px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    margin: auto;
    background: #0ac511;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    
}

.app-button-menu:hover {
    background: #08910c;
    -webkit-box-shadow: 0px 9px 15px -11px rgb(75, 47, 97);
    -moz-box-shadow: 0px 9px 15px -11px rgb(64, 40, 83);
    box-shadow: 0px 9px 15px -11px rgb(66, 40, 85);
  }

.button-selecionado {
    width: 170px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    margin: auto;
    background: #08910c;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}

.app-inv-button {
    background: #ffffff00;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin-top: 30px;
}

.feob-logo {
    background-color: #0ac511;
    margin-bottom: 30px;
}

.menu-esquerdo {
    width: 25%;
    height: 100%;
    background-color: #F1F2F2;
}

.img-logout {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    padding: 7px;
    width: 40px;
    height: 40px;
    margin: auto;
}

.menu-direito {
    width: 100%;
    height: 100%
}

.img-logo {
    margin: auto;
    width: 60%;
}

.botao-menu {
    margin-bottom: 40px;
    align-items: center;
    background-image: radial-gradient(100% 100% at 100% 0, #03ff2e 0, #07771a 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.botao-menu:focus {
    box-shadow: #00f73e 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #00ff55 0 -3px 0 inset;
}

.botao-menu:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #00ff2a 0 -3px 0 inset;
    transform: translateY(-2px);
}

.botao-menu:active {
    box-shadow: #00ff40 0 3px 7px inset;
    transform: translateY(2px);
}